/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #fafafa;
  color: #333333;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

/* 
  You can import Supernova design tokens here:
  @import '@prototypes/supernova-sdk/output/tokens/tokens';
*/

